$color-black: #000;
$color-white: #fff;
$color-main: #292929;
$color-blue: #0444de;
$color-red: #e5374d;
$color-red-dark: #ce2439;
$color-orange: #e47800;
$color-green: #008864;
$color-green-light: #e9f4f5;
$color-gray: #eaebef;
$color-gray-medium: #f5f4f3;
$color-gray-dark: #797979;
