.ui-modal-animation-enter-active,
.ui-modal-animation-leave-active {
  transition: opacity 0.3s cubic-bezier(0.52, 0.02, 0.19, 1.02);
}
.ui-modal-animation-enter-from,
.ui-modal-animation-leave-to {
  opacity: 0;
}
.ui-modal-animation-inner-enter-active {
  transition: all 0.3s cubic-bezier(0.52, 0.02, 0.19, 1.02) 0.15s;
}
.ui-modal-animation-inner-leave-active {
  transition: all 0.3s cubic-bezier(0.52, 0.02, 0.19, 1.02);
}
.ui-modal-animation-inner-enter-from {
  opacity: 0;
  transform: scale(0.8);
}
.ui-modal-animation-inner-leave-to {
  transform: scale(0.8);
}
